<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.furb.avamobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="19"
        android:targetSdkVersion="19"
        tools:ignore="OldTargetApi" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.furb.avamobile.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.furb.avamobile.activities.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity 
            android:name="br.furb.avamobile.activities.FinanceiroActivity"
            android:label="@string/financeiro">
            
        </activity>
    </application>

</manifest>
